.container {
	margin-bottom: 20px;
}

.field {
	margin-bottom: 15px;
	position: relative;
}

.field .fld {
	appearance: none;
	-webkit-appearance: none;
	border-bottom: 1px solid #dadada;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	font-size: 15px;
	height: 50px;
	outline: none;
	padding: 10px 0px 3px 0px;
	text-transform: lowercase;
	width: 100%;
}

.field .fld:focus {
	border-color: #333;
}

.field .fld ~ label {
	position: absolute;
	display: block;
	color: #b5b5b5;
	top: 18px;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 0;
	pointer-events: none;
	transition: 0.2s ease all;
}

.field .fld-active ~ label {
	color: #7b7b7b;
	top: 11px;
	transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: translate3d(0px, -12px, 0) scale(0.80);
	-ms-transform: translate3d(0px, -12px, 0) scale(0.80);
	-webkit-transform: translate3d(0px, -12px, 0) scale(0.80);
}

.field .fld-active:focus ~ label{
	color: #333;
}

.m-credit-card {
	position: absolute;
    top: 19px;
    right: 0;
    width: 30px;
    height: 22px;
    display: block;
}

.m-credit-card.visa {
	background-image: url(../images/credit-card-visa.svg);
}

.m-credit-card.mastercard {
	background-image: url(../images/credit-card-mastercard.svg);
}

.m-credit-card.hipercard {
	background-image: url(../images/credit-card-hipercard.svg);
}

.m-credit-card.diners {
	background-image: url(../images/credit-card-diners.svg);
}

.m-credit-card.hiper {
	background-image: url(../images/credit-card-hiper.svg);
}

.m-credit-card.amex {
	background-image: url(../images/credit-card-amex.svg);
}

.m-credit-card.jcb {
	background-image: url(../images/credit-card-jcb.svg);
}